body {
    width: 100%;
    height: 100%;
    background-color:#4B0082
}

h1 {
  color: white
}
span { 
    display: inline-block; 
    position: absolute;
    font-family: Helvetica;
    font-style: italic
}

span { 
    display: inline-block; 
    position: absolute;
    font-family: Helvetica;
    font-style: italic
}
  a{
      color: white
    }

div.counter {
    font-family: Helvetica;
    color: white;
    font-size: 75px
}
