* {
	box-sizing: border-box;
}

body, html {
  height: 100%;
   background: #000000
}

body {
  padding: 0;
  margin: 0;
  font-size: 0;
  
}

.circle-set {
  width: 100px;
  height: 200px;
  background-color: black;
  position: relative;
  display: inline-block;
}

.H-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.H-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.H-block-2 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.H-circle-1 {
  margin: 35px;
  top: 45px;
   
}

.E-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.E-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.E-circle-1 {
  right: 0px;
  top: 0;
}

.E-circle-2 {
  margin: 70px;
  bottom: 20px;
}

.E-circle-3 {
  right: 0px;
  bottom: 0px;
}

.L-circle-1 {
  right: 0px;
  bottom: 0;
}
.P-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.P-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.P-circle-1 {
  margin: 70px;
  bottom: 70px;
}
.W-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.W-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0px;
}

.W-block-2 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0px;
}

.W-circle-1 {
  bottom: 0;
  right: 35px;
}

.I-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 40px;
}

.L-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.L-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.L-circle-1 {
  right: 0px;
  bottom: 0;
}

.L-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.L-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.L-circle-1 {
  right: 0px;
  bottom: 0;
}
.C-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.C-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.C-circle-2 {
  bottom: 0;
  right: 0;
}

.C-circle-3 {
  top: 0;
  right: 0;
}

.O-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.O-circle-2 {
  top: 0;
  right: 35px;
}

.O-circle-3 {
  bottom: 0;
  right: 35px;
}

.M-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.M-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0px;
}

.M-block-2 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0px;
}

.M-circle-1 {
  top: 0;
  right: 35px;
}

.E-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.E-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.E-circle-1 {
  right: 0px;
  top: 0;
}

.E-circle-2 {
  margin: 70px;
  bottom: 20px;
}

.E-circle-3 {
  right: 0px;
  bottom: 0px;
}

.T-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 40px;
}

.T-block-2 {
  width: 100px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.O-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.O-circle-2 {
  top: 0;
  right: 35px;
}

.O-circle-3 {
  bottom: 0;
  right: 35px;
}

.Y-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.Y-circle-2 {
  top: 0;
  right: 0px;
}


.Y-circle-4 {
  top: 0;
  left: 0px;
}


.Y-circle-5 {
  margin: 35px;
  top: 45px;
}

.O-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.O-circle-2 {
  top: 0;
  right: 35px;
}

.O-circle-3 {
  bottom: 0;
  right: 35px;
}

.U-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.U-circle-2 {
  top: 0;
  right: 0px;
}

.U-circle-3 {
  bottom: 0;
  right: 0px;
}

.U-circle-4 {
  top: 0;
  left: 0px;
}

.U-circle-1 {
  bottom: 0;
  left: 0px;
}

.F-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.F-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.F-circle-1 {
  right: 0px;
  top: 0;
}

.F-circle-2 {
  margin: 70px;
  bottom: 20px;
}

.R-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.R-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.R-circle-2 {
  bottom: 0 ;
  right: 0;
}

.R-circle-3 {
  margin: 70px;
  bottom: 60px;
  }

  .O-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.O-circle-2 {
  top: 0;
  right: 35px;
}

.O-circle-3 {
  bottom: 0;
  right: 35px;
}

.M-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.M-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0px;
}

.M-block-2 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0px;
}

.M-circle-1 {
  top: 0;
  right: 35px;
}

.H-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.H-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.H-block-2 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.H-circle-1 {
  margin: 35px;
  top: 45px;
   
}

.E-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.E-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.E-circle-1 {
  right: 0px;
  top: 0;
}

.E-circle-2 {
  margin: 70px;
  bottom: 20px;
}

.E-circle-3 {
  right: 0px;
  bottom: 0px;
}

.L-circle-1 {
  right: 0px;
  bottom: 0;
}
.P-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.P-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.P-circle-1 {
  margin: 70px;
  bottom: 70px;
}

.F-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.F-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.F-circle-1 {
  right: 0px;
  top: 0;
}

.F-circle-2 {
  margin: 70px;
  bottom: 20px;
}

.U-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.U-circle-2 {
  top: 0;
  right: 0px;
}

.U-circle-3 {
  bottom: 0;
  right: 0px;
}

.U-circle-4 {
  top: 0;
  left: 0px;
}

.U-circle-1 {
  bottom: 0;
  left: 0px;
}

.L-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.L-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.L-circle-1 {
  right: 0px;
  bottom: 0;
}
.L-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.L-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.L-circle-1 {
  right: 0px;
  bottom: 0;
}

.P-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.P-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.P-circle-1 {
  margin: 70px;
  bottom: 70px;
}

.E-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.E-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.E-circle-1 {
  right: 0px;
  top: 0;
}

.E-circle-2 {
  margin: 70px;
  bottom: 20px;
}

.E-circle-3 {
  right: 0px;
  bottom: 0px;
}

  .O-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}

.O-circle-2 {
  top: 0;
  right: 35px;
}

.O-circle-3 {
  bottom: 0;
  right: 35px;
}


.P-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.P-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.P-circle-1 {
  margin: 70px;
  bottom: 70px;
}

.L-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.L-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.L-circle-1 {
  right: 0px;
  bottom: 0;
}
.L-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.L-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.L-circle-1 {
  right: 0px;
  bottom: 0;
}


.E-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
  border-radius: 100%;
  position: absolute; 
}
.E-block-1 {
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.E-circle-1 {
  right: 0px;
  top: 0;
}

.E-circle-2 {
  margin: 70px;
  bottom: 20px;
}

.E-circle-3 {
  right: 0px;
  bottom: 0px;
}

.theanswer {
  margin-top: 500px;
  font-size: 48px;
  color: white;
   font-family: Helvetica;
    font-style: italic
}

    a{
      color: white
    }
    
    h1 {
    margin-top: 510px;
  font-size: 48px;
  color: white;
    font-family: Helvetica;
    font-style: italic
    
}
